@model IEnumerable<SmartMeds.Web.Models.RequestViewModel>

<h2 class="mb-3">Requests</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>From Hospital</th>
            <th>To Hospital</th>
            <th>Status</th>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.FromHospitalName</td>
                <td>@r.ToHospitalName</td>
                <td>@r.Status</td>
                <td>@r.CreatedOn.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>