@model IEnumerable<SmartMeds.Data.Entities.Medicine>

    <h2 class="mb-3">Medicines</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Barcode</th>
                <th>Expiration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
    {
            <tr>
                <td>@m.Name</td>
                <td>@m.Barcode</td>
                <td>@m.ExpirationDate.ToShortDateString()</td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="/Medicine/Details/@m.Id">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
