@model IEnumerable<SmartMeds.Data.Entities.Listing>

    <h2 class="mb-3">All Listings</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Medicine</th>
                <th>Hospital</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model)
    {
            <tr>
                <td>@l.Medicine?.Name</td>
                <td>@l.Hospital?.Name</td>
                <td>@l.Price.ToString("0.00") лв</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="/Listing/Details/@l.Id">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

